/* -----------------Barra de Navegaciones ---------------------*/
.navbar {
	padding: 1rem; 
}

.btn-outline-primary {
	color: #1abc9c;
	border-color: #1abc9c;
}

.btn-outline-primary:hover {
	color:#fff;
	background-color: #1abc9c;
	border-color: #1abc9c;
}

.btn-primary{
	background-color: #1abc9c;
	border: none;
}

.btn-primary:hover {
	background-color: #16a085;
	
}

/* -----------------Sección de Introducción---------------------*/




/* -----------------Sección Nosotros---------------------*/



/* -----------------Sección de Características---------------------*/


/* -----------------Sección de Testimonios---------------------*/


/* -----------------Sección de Equipo---------------------*/


/* -----------------Sección de Contacto---------------------*/


/* -----------------Sección de Footer---------------------*/


/* -----------------Botón Volver al principio---------------------*/



/* -----------------Media Queries---------------------*/